// Font variables
$font-1: "Nunito Sans", sans-serif;
$font-2: "Montserrat", sans-serif;

// Color variables
$color-bg: #14171b;
$color-black: #0b0b0c;
$color-grey-dark: #373a3d;
$color-grey-light: #b0abb9;
$color-white: #ffffff;
$color-accent: #d9083c;